/* Definir a fonte padrão */
* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}

/* Contêiner principal da home */
.home-container {
  background-image: url('/public/images/bg-image.jpg'); /* Aqui estamos a apontar para a pasta public */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; /* Garante que o conteúdo fica centrado */
}

/* Contêiner para o conteúdo */
.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center; /* Centraliza o texto */
}

/* Estilo para a imagem de perfil */
.image-container {
  padding-top: 120px;
}

.image-container img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 20px;
}

/* Estilo para o texto */
.text-container h1 {
  font-size: 3rem; /* Aumenta o tamanho da fonte para mais destaque */
  color: white;
  margin-bottom: 40px;
}

.text-container p {
  font-size: 1.5rem; /* Tamanho de fonte um pouco maior */
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6); /* Sombra no texto para dar contraste */
  margin-top: 10px;
}

/* Estilos de animação de transição para o texto */
.animate-pulse {
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}

/* Footer */
footer {
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  text-align: center;
  width: 100%;
}
